{% extends 'commission/base.html' %}
{% block title %}Calculator{% endblock %}
{% block content %}
    <main role="main">
        <header class="page-heading">
            <div id="calculator-header">
                <h1>Commission Calculator</h1>
            </div>
        </header>
        <section class="page-content-calculator">
            <div class="myform">
                <form id="realtorForm">
                    <div class="form-group form-group-sm">
                        <label for="sellPrice">Sell Price:</label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend input-group-sm">
                                <span class="input-group-text input-group-sm">$</span>
                                <input type="number" id="sellPrice" min="0">
                                <div class="input-group-append input-group-sm">
                                    <span class="input-group-text input-group-sm">.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="commissionPercentage">Commission %:</label>
                        <div class="input-group-prepend input-group-sm">
                            <input
                                type="number"
                                id="commissionPercentage"
                                step="0.1"
                                min="0"
                                max="100"
                                value="3.7"
                            >
                            <div class="input-group-append input-group-sm">
                                <span class="input-group-text input-group-sm">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="commission">Commission:</label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend input-group-sm">
                                <span class="input-group-text input-group-sm">$</span>
                                <input
                                    type="number"
                                    class="readonly"
                                    id="commission"
                                    readonly="true"
                                    style="background:rgb(240, 240, 240);"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="franchiseFeePercentage">Franchise Fee %:</label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend input-group-sm">
                                <input
                                    type="number"
                                    id="franchiseFeePercentage"
                                    step="0.1"
                                    min="0"
                                    max="100"
                                    value="6.0"
                                >
                                <div class="input-group-append input-group-sm">
                                    <span class="input-group-text input-group-sm">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="fees">Fees:</label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend input-group-sm">
                                <span class="input-group-text input-group-sm">$</span>
                                <input
                                    type="number"
                                    class="readonly"
                                    id="fees"
                                    readonly="true"
                                    style="background:rgb(240, 240, 240);"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="commissionSplitPercentage">Commission Split %:</label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend input-group-sm">
                            <input
                                type="number"
                                id="commissionSplitPercentage"
                                step="0.1"
                                min="0"
                                max="100"
                                value="65.0"
                            >
                                <div class="input-group-append input-group-sm">
                                    <span class="input-group-text input-group-sm">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="agentCommission">Agent Commission:</label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend input-group-sm">
                                <span class="input-group-text input-group-sm">$</span>
                                <input
                                    type="number"
                                    class="readonly"
                                    id="agentCommission"
                                    readonly="true"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col">
                            <button
                                type="button"
                                class="btn btn-outline-success btn-sm"
                                v-on:click="getCommission"
                            >
                                Get Commission
                            </button>
                            <button
                                type="button"
                                class="btn btn-outline-secondary btn-sm"
                                v-on:click="resetForm"
                            >
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}