body {
    margin: 0;
}

.page-heading {
    color: white;
    text-align: center;
    margin-top: 100px;
  }

.page-content {
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

.background-home {
    background-image: url('../images/build-a-house-4503738_640.jpg');
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
}

#calc-heading {
    text-align: center;
    margin-top: 100px;
  }

#realtorForm {
    display: grid;
    justify-content: center;
  }
